.Rhymes {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 200px;
  background: $darkBlack;
  height: 100%;
  color: rgba($white, 0.2);
  transform: translate(100%, 0);
  border-left: 1px solid rgba($white, 0.2);
  transition: transform 0.25s $easing;
  padding: 40px 20px;

  background: $darkBlack;

  &.is-active {
    transform: none;
  }
  &__toggle {
    width: 30px;
    display: block;
    position: absolute;
    left: -30px;
    top: 0;
    height: 100%;
    border-left: 1px solid rgba($white, 0.2);
    // border-right: 1px solid rgba($white, 0.2);
    cursor: pointer;
    user-select: none;
    background: $darkBlack;

    span {
      transform: rotate(90deg);
      display: block;
      line-height: 30px;
      padding: 0px 10px;
    }
  }
  &__main {
    // padding: 40px 20px;
    width: 100%;
    display: block;
    p {
      color: $white;
      display: block;
      width: 100%;
    }
  }
  &__input {
    display: block;
    padding-bottom: 20px;
    input {
      border: 1px solid rgba($white, 0.2);
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      display: block;
      width: 100%;
      color: $white;
      font-size: 14px;
      padding: 5px;

      &,
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
}
